// @import "rem.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}
html {
  // height: 100%;
  // overflow: hidden;
}
body {
  font-size: toRem(18) !important;
  font-family: "Segoe UI", "FZLTCHK", "Microsoft YaHei", "Microsoft YaHei UI", "Times New Roman", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  shape-rendering: geometricPrecision;
  height: 100%;
  // background: $app-bg;
  color: #fff;
  overflow: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}